.content {
	display: flex;
	align-items: center;
	border: 1px solid blue;
	width: 100%;
	padding-bottom: 32px;
}

.cardText {
	display: flex;
	align-items: center;
}

.span {
	font-weight: lighter;
	font-size: 18px;
}

.list {
	padding-top: 25px;
}

.text {
	padding-bottom: 15px;
}

.btn {
	position: relative;
	top: -35px;
	align-items: center;
	justify-content: center;
	display: flex;
}
