
.container{
    display: inline-flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    
}

.lista{
    margin-left: 300px;
}


.navbar li {
   list-style-type: none;
   display: inline;
   padding: 40px;

}

.login{
    margin-left: 400px;
}

