
.container {
    display: inline-flex;
    width: 95%;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    margin-left: 50px;
    margin-right: 40px;
  
    
}

.lista {
    margin-left: 300px;
}


.logo {
    align-content: baseline;
    display: inline;
}



.navbar li {
   list-style-type: none;
   display: inline;
   padding: 40px;

}

.login {
    margin-left: 400px;
}

