.container {
	display: flex;
	height: 100px;
	justify-content: space-between;
	align-items: center;
	width: 1400px;
}
.parent {
	display: flex;
	align-items: center;
	justify-content: center;
}

.lista {
}

.logo {
	display: flex;
	position: relative;
	justify-content: flex-start;
}
